<div class="wrap">
  <div class="profile-header">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{auth.user?.login}}
          </mat-panel-title>
          <mat-panel-description>
            {{auth.user?.email}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="profileForm">
          <mat-form-field>
            <input matInput placeholder="Change Email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Change Email">
          </mat-form-field>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

